@media (max-width: 1280px) {

    .right-header {
        padding-right: 0;

    }.site-brand{
        margin: 0;
    }
}

@media (max-width: 1023px) {
    .right-header {
        padding-right: 0;
        position: absolute;
        width: 300px;
        top: 0;
        right: 0;
        display: flex;
        gap: 10px;
        flex-direction: column;
        background: #0D2E59;
        box-shadow: -2px 0px 12px 0px #00000040;
        padding: 58px 16px 94px;
        align-items: flex-start;
        max-height: 100dvh;
        overflow-y: auto;
        transform: translateX(100%);
        transition: all 0.5s ease-in-out;
    }

    .right-header.is-open {
        transform: translateX(0);

    }

    .main-menu .menu li .sub-menu li a img {
        filter: brightness(0) invert(1);
    }

    .menu-lang {
        order: -1;
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .main-menu .menu li a {
        padding: 0 0 16px;
        font-family: Epilogue;
        font-weight: 300;
        font-size: 20px;
        line-height: 26.67px;
        letter-spacing: 0px;
        color: #fff;
    }

    .main-menu .menu {
        display: block;
    }

    .wrap-header {
        padding: 12px 16px;

    }

    .hambuger-mobile {
        position: relative;
        background: #0D2E59;
        height: 30px;
        width: 30px;
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .lines {
        width: 20px;
        height: 2px;
        background: #fff;
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -10.5px;
        margin-top: -1.5px;
        -webkit-transition: -webkit-transform 200ms;
        transition: -webkit-transform 200ms;
        transition: transform 200ms;
        transition: transform 200ms, -webkit-transform 200ms;
    }

    .line-1 {
        -webkit-transform: translate3d(0, -6px, 0);
        transform: translate3d(0, -6px, 0);
    }

    .line-2 {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);

    }

    .line-3 {
        -webkit-transform: translate3d(0, 6px, 0);
        transform: translate3d(0, 6px, 0);
    }

    .hambuger-mobile.exit .line-1 {
        -webkit-transform: translate3d(0, 0, 0) rotate(45deg);
        transform: translate3d(0, 0, 0) rotate(45deg);
    }

    .hambuger-mobile.exit .line-2 {
        opacity: 0;
        -webkit-transform: translate3d(0, 0, 0) scale(0.1, 1);
        transform: translate3d(0, 0, 0) scale(0.1, 1);
    }

    .hambuger-mobile.exit .line-3 {
        -webkit-transform: translate3d(0, 0, 0) rotate(-45deg);
        transform: translate3d(0, 0, 0) rotate(-45deg);
    }

    .sub-menu {
        display: none;
    }

    .main-menu .menu li .sub-menu li a {
        font-family: Epilogue;
        font-weight: 300;
        font-size: 14px;
        line-height: 18.67px;
        letter-spacing: 0px;
        padding: 0 0 10px;
        color: #fff;
    }
}