@media (max-width: 1280px) {
  .footer-bottom {
    gap: 20px;
  }
  .footer-right-bottom {
    width: calc(100% - 20px - 352px);
  }
}

@media (max-width: 1023px) {
  .main-menu,
  .wrap-btn-header {
    display: none;
  }
  .hambuger-mobile {
    position: relative;
    width: 32px;
    height: 32px;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .lines {
    width: 24px;
    height: 2px;
    background: #fff;
    display: block;
    position: absolute;
    top: 50%;
    border-radius: 2px;
    left: 50%;
    margin-left: -10.5px;
    margin-top: -1.5px;
    -webkit-transition: -webkit-transform 200ms;
    transition: -webkit-transform 200ms;
    transition: transform 200ms;
    transition:
      transform 200ms,
      -webkit-transform 200ms;
  }

  .line-1 {
    -webkit-transform: translate3d(0, -6px, 0);
    transform: translate3d(0, -6px, 0);
  }

  .line-2 {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  .line-3 {
    -webkit-transform: translate3d(0, 6px, 0);
    transform: translate3d(0, 6px, 0);
  }

  .hambuger-mobile.exit .line-1 {
    -webkit-transform: translate3d(0, 0, 0) rotate(45deg);
    transform: translate3d(0, 0, 0) rotate(45deg);
  }

  .hambuger-mobile.exit .line-2 {
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0) scale(0.1, 1);
    transform: translate3d(0, 0, 0) scale(0.1, 1);
  }

  .hambuger-mobile.exit .line-3 {
    -webkit-transform: translate3d(0, 0, 0) rotate(-45deg);
    transform: translate3d(0, 0, 0) rotate(-45deg);
  }
  .inner-menu-mobile .main-menu {
    display: block;
  }
  .inner-menu-mobile {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 100%;
    overflow-y: auto;
  }
  .wrap-menu-mobile {
    height: 100dvh;
    width: calc(100% - 60px);
    position: absolute;
    top: 0;
    left: 0;
    background: #021024;
    z-index: 998;
    display: block;
    padding: 166px 30px 32px 20px;
    transform: translateX(-100%);
    transition: all 0.3s ease-in-out;
  }
  .overflow-hidden {
    overflow: hidden;
  }
  .wrap-menu-mobile.active {
    transform: translateX(0);
  }
  .main-menu ul {
    flex-direction: column;
    gap: 24px;
    align-items: flex-start;
  }
  .main-menu ul a {
    padding: 0;
    color: var(--Light-Grey, #f7f7f7);
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
  }
  .contact-info-header-label {
    color: var(--Dark-Grey, #68707e);
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 19.6px */
    margin-bottom: 6px;
  }
  .contact-info-header-desc {
    max-width: 225px;
    color: #dbdbdd;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 140%; /* 22.4px */
  }
  .contact-info-header-desc a {
    color: #dbdbdd;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 22.4px */
  }
  .contact-info-header-group {
    margin-bottom: 32px;
  }
  .site-brand {
    width: 120px;
    height: 34px;
    aspect-ratio: 60/17;
  }
  .wrap-header {
    padding: 0;
  }
  .site-header {
    top: 32px;
  }
  .footer-top {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .footer-brand {
    margin-bottom: 50px;
    max-width: 215px;
    gap: 24px;
    width: 100%;
    align-items: center;
  }
  .footer-tagline {
    max-width: 100%;
    text-align: center;
  }
  .footer-nav-list li a {
    color: var(--Light-Grey, #f7f7f7);
    text-align: center;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
  }
  .footer-nav{
    margin-bottom: 50px;
  }
}
